{
  "extends": ["@masterborn/eslint-config/frontend/typescript", "prettier"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "arrow-body-style": ["error", "as-needed"],
    "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
    "no-return-await": "off",
    "@typescript-eslint/return-await": "error",
    "no-param-reassign": 0
  }
}
