{
  "extends": [
      "@masterborn/eslint-config/frontend/typescript",
      "prettier"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
